<div class='comments'>
  <% if not Character::Blog.disqus_shortname.empty? %>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        // required: replace example with your forum shortname
        var disqus_shortname = '<%= Character::Blog.disqus_shortname %>';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  <% else %>
    <!-- Please configure disqus_shortname to enable Disqus comments here: /app/config/initializers/character_blog.rb -->
  <% end %>
</div>