<div  class='chr-login'
      style='background-image: url("<%= character_instance.login_background_image %>");'>
  <%= link_to browserid_config.login.path, class: 'browserid_login' do %>
    <i class='fa fa-sign-in'></i> Sign in <small>with Persona</small>
  <% end %>
</div>