<%= simple_form_for @object, url: @form_action_url do |f| %>
  
  <div class='row chr-row-border'>
    
    <div class='small-12 columns'> 
      <h5>Model <small>attributes</small></h5>
    </div>


    <div class='small-12 columns'>  
      <% @form_fields.each do |name| %>

        <%= f.input name %>

      <% end %>
    </div>
  
  </div>

  <div class='row'>
    <div class='small-12 columns'>
        <%= f.button :submit, class: 'chr-btn-submit' %>      
    </div>
  </div>
<% end %>