@media #{$small}                      {
  p                                   { font-size: 22px;
  }
  blockquote                          { font-size: 22px * 1.25;
                                        margin: 1.5 -100px;
  }
  pre                                 { padding: 1em;
                                        font-size: 1.3em;
  }
}