.action-back                          { display: block;
                                        position: fixed;
                                        z-index: 1;
                                        bottom: 0;
                                        text-align: center;
                                        font-size: 2em;
                                        line-height: 1.55;
                                        width: 1.6em;
                                        height: 1.6em;
                                        background-color: $blog-link-color;
                                        color: #fff;
  &:hover                             { color: #fff;
  }
}

@media #{$small}                      {
  .action-back                        { width: 2.6em;
                                        height: 2.6em;
                                        font-size: 2.5em;
                                        line-height: 2.6;
                                        background-color: transparent;
                                        color: $blog-link-color;
    &:hover                           { color: #fff;
                                        background-color: $blog-link-color;
    }
  }
}