.blog-index                           { @extend .small-12, .large-centered, .columns;
}
.post-item                            { border-bottom: 1px solid $blog-border-color;
                                        min-height: 5.25em;
  .post-link                          { display: block;
                                        padding: 1em 0;
  }
  &:last-child                        { border-bottom-color: transparent;
  }
  h3                                  { font-size: 1.3em;
                                        padding: 0;
                                        margin: .5em 0em 0em 0em;
  }
  &:first-child                       { margin-top: 5em;
  }
}
@media #{$small}                      {
  .post-item h3                       { font-size: 1.7em;
  }
  .post-item-snippet                  { font-size: 18px;
  }
}