
// Logo

.logo                                 { position: absolute;
                                        top: 10px;
                                        left: 50%;
                                        margin-left: -26px;
                                        z-index: 1;
                                        display: block;
  img                                 { opacity: .9;
  }
  &:hover                             {
    img                               { opacity: 1;
    }
  }
}

@media #{$small}                      {
  .logo                               { position: fixed;
                                        top: 14px;
                                        left: 14px;
                                        margin-left: 0px;
  }
}



// Post

.post                                 { @extend .small-12, .columns, .large-centered;
}
.post-header                          { margin-bottom: 2em;
}
.post-title                           { line-height: 1;
                                        margin-bottom: 0;
                                        margin-top: 1em;
  @media #{$small}                    { font-size: 52px;
  }
}
.post-subtitle                        { font-family: $paragraph-font-family;
                                        font-weight: 400;
                                        font-style: italic;
                                        line-height: 1.2;
                                        margin: .5em 0 0;
}
.post-body                            { @import "typography";
}
.featured-image                       { position: relative;
                                        width: 100%;
                                        max-height: 510px;
                                        overflow: hidden;
  img                                 { width: 100%;
                                        display: block;
  }
  .featured-image-source              { position: absolute;
                                        top: 0px;
  }
}
.post-date                            { text-align: center;
                                        color: lighten($body-font-color, 50%);
                                        margin: 4em 0;
}



// Index

.blog-index                           { @extend .small-12, .large-centered, .columns;
}
.post-item                            { border-bottom: 1px solid $blog-border-color;
                                        min-height: 5.25em;
  .post-link                          { display: block;
                                        padding: 1em 0;
  }
  &:last-child                        { border-bottom-color: transparent;
  }
  h3                                  { font-size: 1.3em;
                                        padding: 0;
                                        margin: .5em 0em 0em 0em;
  }
  &:first-child                       { margin-top: 5em;
  }
}
@media #{$small}                      {
  .post-item h3                       { font-size: 1.7em;
  }
  .post-item-snippet                  { font-size: 18px;
  }
}



// Footer

.footer                               { text-align: center;
                                        margin: 5em 0 1.2em;
}
@media #{$small}                      {
  .footer                             { margin: 10em 0 2.5em;
  }
}



// Action Back

.action-back                          { display: block;
                                        position: fixed;
                                        z-index: 1;
                                        bottom: 0;
                                        text-align: center;
                                        font-size: 2em;
                                        line-height: 1.55;
                                        width: 1.6em;
                                        height: 1.6em;
                                        background-color: $blog-link-color;
                                        color: #fff;
  &:hover                             { color: #fff;
  }
}

@media #{$small}                      {
  .action-back                        { width: 2.6em;
                                        height: 2.6em;
                                        font-size: 2.5em;
                                        line-height: 2.6;
                                        background-color: transparent;
                                        color: $blog-link-color;
    &:hover                           { color: #fff;
                                        background-color: $blog-link-color;
    }
  }
}