.post                                 { @extend .small-12, .columns, .large-centered;
}
.post-header                          { margin-bottom: 2em;
}
.post-title                           { line-height: 1;
                                        margin-bottom: 0;
                                        margin-top: 1em;
  @media #{$small}                    { font-size: 52px;
  }
}
.post-subtitle                        { font-family: $paragraph-font-family;
                                        font-weight: 400;
                                        font-style: italic;
                                        line-height: 1.2;
                                        margin: .5em 0 0;
}
.post-body                            { @import "typography/mobile";
                                        @import "typography/desktop";
}
.featured-image                       { position: relative;
                                        width: 100%;
                                        max-height: 510px;
                                        overflow: hidden;
  img                                 { width: 100%;
                                        display: block;
  }
  .featured-image-source              { position: absolute;
                                        top: 0px;
  }
}
.post-date                            { text-align: center;
                                        color: lighten($body-font-color, 50%);
                                        margin: 4em 0;
}