
// Mobile

p                                     { line-height: 1.45em;
}
a                                     { border-bottom: 1px solid $blog-link-color;
  &:hover                             { background-color: $blog-link-color;
                                        border-bottom-color: $blog-link-color;
                                        color: $blog-link-hover-color;
  }
}
pre                                   { margin-bottom: 1.25em;
                                        line-height: 1.2;
                                        padding: .5em;
                                        background: #f2f2f0;
}
blockquote                            { padding: 0;
                                        margin: 1.5em 0;
                                        border: none;
                                        font-style: italic;
                                        line-height: 1.45em;
                                        text-align: center;
}

// Desktop

@media #{$small}                      {
  p                                   { font-size: 22px;
  }
  blockquote                          { font-size: 22px * 1.25;
                                        margin: 1.5 -100px;
  }
  pre                                 { padding: 1em;
                                        font-size: 1.3em;
  }
}