//---------------------------------------------------------
// ADMINS
//---------------------------------------------------------

.admins .simple_form                  {

  .admin                              { margin-left: 62px + 20px;
    .input.email > input              { @include input-placeholder { color: #cbd0d3; }
                                        padding-left: 1.5em;
    }
  }

  .picture                            { float: left;
                                        margin-top: 10px;
                                        margin-left: -80px;
                                        display: inline-block;
                                        width: 62px;
                                        height: 62px;
    img                               { border-radius: 31px;
    }
  }

  a:hover .chr-icon                   { color: #414d64;
  }

  .chr-icon                           { color: #d1d6e0;
                                        position: absolute;
                                        margin-top: 33px;
  }
}