//---------------------------------------------------------
// AUTHORS
//---------------------------------------------------------

.post_authors .simple_form            {
  .input.email.objects_email > input,
  .input.string.objects_name > input  { font-size: 1.2em;
                                        border-bottom: none;
                                        margin-bottom: 0;
                                        padding: .3em .5em;
  }
  .objects_name                       { float: left;
                                        width: 30em;
  }
  .input.email.objects_email > input  { border-top: 1px solid #e6e9f0;
                                        padding-right: 60px;
  }
  .action_add                         { @include button;
                                        margin-top: 4em;
  }
  .action_delete                      { position: absolute;
                                        margin-left: -35px;
                                        margin-top: 25px;
  }
  .fields                             { margin-bottom: 1em;
  }
  #template,
  #template .action_delete            { display: none;
  }
}