//---------------------------------------------------------
// BUTTONS
//---------------------------------------------------------

@mixin button                         { background: #fff;
                                        display: block;
                                        text-align: center;
                                        font-size: 12px;
                                        font-weight: $font_semi_bold;
                                        color: #9ca1ab;
                                        border: 2px solid $list_border_color;
                                        border-radius: 4px;
                                        width: 120px;
                                        padding: 6px 0;
                                        height: 33px;
  &:hover                             { border: 3px solid $secondary_color;
                                        padding-top: 5px;
                                        color: $secondary_color;
  }
}

a                                     { text-decoration: none;
}

.chr-details-header button            { background: $header_color;
                                        color: #fff;
                                        font-size: 12px;
                                        font-weight: $font_semi_bold;
                                        border: 2px solid #fff;
                                        border-radius: 4px;
                                        width: 120px;
                                        padding: 6px 0;
                                        height: 33px;
  &:not(.invert):hover                { border: 3px solid #fff;
                                        padding-top: 5px;
  }
  &.invert                            { background-color: #fff;
                                        color: $header_color;
    &:hover                           { color: $secondary_color;
    }
  }
}

.chr-details-header .published        { display: none;
                                        width: 33px;
                                        height: 33px;
                                        color: #fff;
                                        float: right;
                                        margin: 7px 10px 0 0;
                                        font-size: 20px;
                                        padding: 6px;
                                        cursor: pointer;
  .fa-eye-slash                       { display: none;  }
  .fa-eye                             { display: block; }
  &.off                               { opacity: .75;
    .fa-eye-slash                     { display: block; }
    .fa-eye                           { display: none;  }
  }
}

.chr-list-header .new,
.chr-list-header .search,
.chr-details-header .cancel,
.chr-details-header .save             { float: right;
}

.chr-list-header                      {
  .new, .search                       { margin-left: 23px;
  }
}

.chr-details                          {
  .save                               { margin-top: -4px;
  }
  .cancel                             { margin-top: -4px;
                                        margin-right: 10px;
  }
}

.chr-details.update                   {
  .chr-details-header                 { padding: 12px 25px;
    .save                             { margin-top: 7px;
    }
    .cancel                           { margin-top: 7px;
    }
  }
}

.chr-list-item                        {
  &:before                            { font-family: FontAwesome;
                                        content: "\f105";
                                        float: right;
                                        margin: 25px 25px 0 5px;
                                        font-size: 28px;
                                        color: #e0e3ea;
  }

  &.active:before                     { color: $list_item_meta_color;
  }
}

.chr-list .ui-sortable .chr-list-item {
  a                                   {
    &:before                          { font-family: FontAwesome;
                                        content: "\f142";
                                        float: left;
                                        font-size: 20px;
                                        color: #e0e3ea;
                                        margin: 12px 0px 0 -15px;
    }
    &:hover                           {
      &:before                        { color: $list_item_meta_color;
      }
    }
  }
}