//---------------------------------------------------------
// FORMS
//---------------------------------------------------------

@import "compass/utilities/general/clearfix";

.chr-form-small                         { @include font;
                                          font-size: 12px;
                                          color: #474a4c;

  &.chr-form-scrolled-up                { background-color: #f7f7f7;
                                          border-bottom: 1px solid $list_border_color;
    > form                              { padding-bottom: 0;
                                          padding-top: 20px;
                                          max-width: 700px;
    }
  }

  form                                  { padding: 60px;
                                          max-width: 600px;
                                          margin: 0 auto;
  }

  .input .error                         { position: absolute;
                                          line-height: 2.4;
                                          margin-left: .5em;
                                          font-size: 1em;
                                          color: $error_color;
  }

  .input.field_with_errors              {
    input, textarea                     { border-color: $error_color; }
  }

  label.email,
  label.tel,
  label.file,
  label.date,
  label.string,
  label.text,
  label.url,
  label.radio_buttons,
  label.select                          { color: #a1a7b2;
                                          font-weight: $font_semi_bold;
                                          display: block;
                                          margin-bottom: 5px;
  }

  .radio label.radio_buttons,
  label.boolean                         { margin-right: 10px;
  }

  .radio input.radio_buttons,
  input[type='checkbox'],
  select                                { margin-bottom: 20px;
                                          margin-right: 5px;
  }

  input[type=file]                      { margin-bottom: 20px;
  }

  textarea,
  input[type=tel],
  input[type=text],
  input[type=url],
  input[type=email],                    { margin-bottom: 20px;
                                          border: 1px solid #e6e9f0;
                                          border-radius: 4px;
                                          padding: 6px 4px;
                                          width: 100%;
                                          box-shadow: 0px 0px 3px 0px #e6e9f0;
                                          @include no-focus-border;
    &:focus                             { border-color: lighten($header_color, 25%);
    }
  }

  textarea                              { min-height: 52px;
  }

  .image-upload                         { margin-bottom: 20px;
                                          @include clearfix;
    img                                 { float: left;
                                          margin-right: 10px;
                                          border-radius: 4px;
                                          width: 56px;
                                          height: 56px;
    }
    input[type='file']                  { margin: 8px 0;
    }
    input[type='checkbox']              { margin-bottom: 0;
    }
  }
}


.chr-form-large                         { @extend .chr-form-small;
                                          font-size: 14px;

  textarea,
  input[type=text],
  input[type=email],                    { font-size: 24px;
                                          color: #414d64;
                                          font-weight: $font_semi_bold;
                                          border: none;
                                          border-bottom: 1px solid #e6e9f0;
                                          box-shadow: none;
                                          border-radius: 0px;
                                          padding: 15px 0;
    &:focus                             { border-color: #e6e9f0;
    }
  }
}