//---------------------------------------------------------
// IMAGES
//---------------------------------------------------------

.character-image                      { height: auto;
                                        margin: 20px auto 0;
  img                                 { width: 100%;
                                        display: block;
  }
  // TODO: update
  &.character-image-upload            { border: 3px solid #fff;
                                        border-radius: 0;
                                        opacity: 1;
                                        padding: 1px;
    &:before                          { content: '';
    }
    &:hover                           { border-color: $secondary_color;
                                        @include single-transition(border-color, .2s);
    }
  }
}

// Transition effect: http://tympanus.net/Development/FullscreenOverlayStyles/index5.html

.chr-images                           { @include font;
                                        position: fixed;
                                        width: 100%;
                                        height: 100%;
                                        top: 0;
                                        left: 0;
                                        background-color: rgba(255,255,255, .7);
                                        z-index: 2;

  // effects
                                        visibility: hidden;
                                        opacity: 0;
                                        @include single-transition(opacity, 0.2s);
  &.open                              { visibility: visible;
                                        opacity: 1;
                                        @include single-transition(opacity, 0.4s);
  }

  // effects
  .chr-images-dialog                  { visibility: hidden;
                                        opacity: 0;
                                        // TODO: refactor with compass
                                        -webkit-transform: scale(0.9);
                                        transform: scale(0.9);
                                        -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
                                        transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  }

  &.open .chr-images-dialog           { visibility: visible;
                                        opacity: 1;
                                        // TODO: refactor with compass
                                        -webkit-transform: scale(1);
                                        transform: scale(1);
                                        -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
                                        transition: transform 0.4s, opacity 0.4s;
  }
}

.chr-images-dialog                    { @include position(50%, 80px, auto, 80px);
                                        background-color: #f9fafb;
                                        border: 1px solid #e6e9f0;
                                        box-shadow: 0px 0px 12px 0px rgba(65, 77, 100, .1);
}

.chr-images-header                    { height: 52px;
                                        border-bottom: 1px solid #edeff1;
                                        padding: 14px 20px;
                                        background-color: #fff;
  .title                              { font-size: 16px;
                                        color: #414d64;
                                        font-weight: $font_semi_bold;
  }
}

.chr-images-close                     { float: right;
                                        border: none;
                                        padding: 0;
                                        background-color: transparent;
                                        margin-top: 2px;
                                        @include no-focus-border;
}

.chr-images-footer                    { @include position(0px, auto, 0px, 0px);
                                        border-top: 1px solid #edeff1;
                                        height: 72px;
                                        padding: 20px;
                                        background-color: #fff;

  .right                              { float: right;
  }

  .button                             { background: transparent;
                                        text-align: center;
                                        color: #9ca1ab;
                                        font-size: 12px;
                                        font-weight: $font_semi_bold;
                                        border: 2px solid #e6e9f0;
                                        border-radius: 4px;
                                        width: 120px;
                                        padding: 6px 0;
                                        @include no-focus-border;
                                        cursor: pointer;
                                        position: relative;
                                        overflow: hidden;
    &:first-child                     { margin-left: 10px;
    }

    &.disabled                        { background-color: #e6e9f0;
    }

    &:not(.disabled):hover            { color: $secondary_color;
                                        border-color: $secondary_color;
    }
  }

  .chr-images-upload                  { @include position(0px, 0px, auto, auto);
                                        width: 156px;
                                        height: 34px;
                                        //opacity: 0;
                                        cursor: pointer;
                                        padding-left: 120px;
  }
}

.chr-images-grid                      { @include position(0, 52px, 0, 72px);
                                        overflow: hidden;
                                        overflow-y: scroll;
  ul                                  { @include reset-list;
                                        padding: 10px;
                                        display: inline-block;
  }

  li                                  { float: left;
                                        cursor: pointer;
                                        margin: 7px;
                                        width: 156px;
                                        height: 156px;
                                        border: 3px solid #f9fafb;
                                        background-repeat: no-repeat;
                                        background-position: top left;
    &:hover                           { border-color: $list_border_color;
                                        box-shadow: inset 0 0 1px 1px #fff;
    }
  }

  li.selected                         { border-color: $secondary_color;
                                        box-shadow: inset 0 0 1px 1px #fff;
                                        @include single-transition(border-color, .4s);
  }

  &.dragover                          {
    &:before                          { width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        background-color: rgba(18, 160, 206, 0.8);
                                        font-family: FontAwesome;
                                        font-size: 80px;
                                        color: #fff;
                                        content: '\f0ed';

                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
   }
  }
}