//---------------------------------------------------------
// LAYOUT
//---------------------------------------------------------

// this makes no bouncing effect when scrolling on mac with touchpad
html                                  { overflow: hidden;
}

// antialiased fonts on webkit browsers
body                                  { -webkit-font-smoothing: antialiased;
                                        background-color: $menu_color;
}

b, strong                             { font-weight: $font_bold;
}

.chr-content                          { @include position(90px, 0, 0, 0, 2);
                                        background-color: #fff;
}

.chr-logo                             { background-position: 50% 50%;
                                        background-repeat: no-repeat no-repeat;
}

.chr-layout .left                     { @include position(0, 0, inherit, 0, 2);
                                        width: 35%;
}

.chr-layout .right                    { @include position(inherit, 0, 0, 0, 3);
                                        width: 65%;
                                        overflow: hidden;
}

.chr-layout .fullscreen               { background: rgba(0,0,0,0.05);
                                        width: 100%;
  .chr-details-header,
  .chr-details-content                { left: 45px;
  }
  .chr-details-header                 { border-left: 1px solid $header_border_color;
  }
  .chr-details-content                { border-left: 1px solid $list_border_color;
  }
}

.chr-list,
.chr-list-header,
.chr-details-header                   { @include font;
}

.chr-list-header,
.chr-details-header                   { background: $header_color;
                                        height: 71px;
                                        border-bottom: 1px solid $header_border_color;

  .title                              { font-size: 16px;
                                        font-weight: $font_bold;
                                        color: #fff;
  }
  .meta                               { font-size: 12px;
                                        color: $meta_color;
  }

  a                                   { opacity: .7;
                                        color: #fff;
                                        cursor: pointer;
    &:hover                           { opacity: 1;
    }
  }
}

.chr-list-header                      { @include position(0, 0, 0, inherit, 2);
                                        border-right: 1px solid $header_border_color;
                                        padding: 23px 25px 27px;
}

.chr-details-header                   { @include position(0, 0, 0, inherit, 3);
                                        padding: 23px 25px 27px;
}

.chr-list                             { @include position(0, 71px, 0, 0, 1);
                                        @include scrollable;
                                        background-color: $list_color;
                                        border-right: 1px solid $list_border_color;

  ul                                  { @include reset-list;
                                        margin-bottom: 5em;
  }
  .empty                              { text-align: center;
                                        line-height: 5;
                                        color: rgba(0,0,0,.25);
                                        font-size: 13px;
                                        text-transform: uppercase;
  }
  .placeholder                        { background: #fff;
                                        min-height: 80px;
  }
}

.chr-list-item                        {
  a                                   { background: $list_item_color;
                                        border-bottom: 1px solid $list_border_color;
                                        display: block;
                                        height: 81px;
                                        padding: 20px 25px;
  }

  &.active a                          { background: $list_item_active_color;
  }

  // Default list item layout
  .title,
  .meta                               { white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        font-size: 12px;
                                        color: $list_item_meta_color;
  }

  .title                              { font-size: 14px;
                                        font-weight: $font_bold;
                                        color: #474a4c;
                                        margin-bottom: 4px;
  }

  .thumbnail                          { width: 42px;
                                        height: 42px;
                                        border-radius: 4px;
                                        margin-right: 20px;
                                        float: left;
                                        display: none;
                                        margin-top: -1px;
  }

  &.has-thumbnail .thumbnail          { display: inline-block;
  }

  .has-image                          {
  }
}

.chr-details-content                  { @include position(0, 71px, 0, 0, 1);
                                        @include scrollable;
                                        background-color: #fff;
}