//---------------------------------------------------------
// MENU
//---------------------------------------------------------

.chr-menu                             { position: absolute;
                                        width: 90px;
                                        height: 100%;
                                        z-index: 1;
                                        text-align: center;
                                        @include font;

  ul                                  { @include reset-list;
                                        border-bottom: 1px solid $menu_border_color;
  }

  a                                   { border-top: 1px solid $menu_border_color;
                                        display: block;
                                        width: 90px;
                                        color: #fff;
                                        font-weight: $font_bold;
                                        font-size: 10px;
                                        padding: 21px 0 18px;
  }
  a.active                            { background-color: $menu_active_color;
  }
  .browserid_logout                   { padding: 0;
    &:before                          { content: 'Sign out';
                                        width: 90px;
                                        height: 71px - 25px;
                                        background: rgba(0,0,0, .75);
                                        color: #fff;
                                        font-weight: $font_semi_bold;
                                        font-size: 14px;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        padding-top: 25px;
                                        opacity: 0;
                                        transition: opacity 0.25s;
    }
    &:hover                           {
      &:before                        { opacity: 1;
      }
    }
  }
}

.chr-menu-user                        { margin: 18px 0 16px;
                                        border-radius: 18px;
                                        vertical-align: top;
}

.chr-menu-icon                        { display: block;
                                        font-size: 24px;
                                        color: $menu_icon_color;
                                        margin-bottom: 3px;
}

.chr-menu-item-settings               { @include position(0, inherit, inherit, 0, 1);
}