//---------------------------------------------------------
// PAGES
//---------------------------------------------------------

.pages-show                           { font-family: $base_font;
                                        color: $base_color;
                                        max-width: 700px;
                                        margin: 0 auto;
                                        padding: 20px;
                                        @import "application/default/_typography";

  .redactor_editor                    { border: none;
                                        padding-top: 20px;
  }
  .redactor_toolbar li                { font-size: inherit;
  }
  .redactor_box                       { margin-top: 40px;
                                        min-height: 200px;
  }
}