//---------------------------------------------------------
// PAGES
//---------------------------------------------------------

.pages-show                           { font-family: $base_font;
                                        color: $base_color;
                                        max-width: 700px;
                                        margin: 0 auto;
                                        padding: 20px;
                                        @import "posts/_typography";
}