//---------------------------------------------------------
// REDIRECTS
//---------------------------------------------------------

.redirects .simple_form               {
  .input.string.objects_destination > input,
  .input.string.objects_path > input  { font-size: 1.2em;
                                        border-bottom: none;
                                        margin-bottom: 0;
                                        padding: .3em .5em;
  }
  .objects_path                       { float: left;
                                        width: 30em;
  }
  .input.string.objects_destination > input {
                                        border-top: 1px solid #e6e9f0;
                                        padding-right: 60px;
  }
  .input.select.objects_type          { float: right;
                                        margin: 0;
    select                            { position: relative; bottom: -5px; }
  }
  .action_add                         { @include button;
                                        margin-top: 10px;
                                        float: right;
  }
  .action_delete                      { position: absolute;
                                        margin-left: -35px;
                                        margin-top: 25px;
  }
  .fields                             { margin-bottom: 10px;
  }
}