//---------------------------------------------------------
// REDACTOR
//---------------------------------------------------------

.posts-show,
.pages-show                           {
  .redactor_editor                    { border: none;
                                        padding: 10px 0px 0px;
  }
  .redactor_toolbar li                { font-size: inherit;
  }
  .redactor_box                       { margin-top: 13px;
                                        min-height: 400px;
                                        margin-bottom: 100px;
  }
}

// CUSTOM TOOLBAR POSITION

.chr-redactor-toolbar                 { position: absolute;
                                        width: 100%;
                                        left: 0;
                                        top: 71px;
                                        visibility: hidden;
                                        padding: 0 25px;
                                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                                        background-color: #fff;
  .redactor_toolbar.redactor-toolbar-external { border: 0;
  }
}

.chr-show-redactor-toolbar            {
  .chr-redactor-toolbar               { visibility: visible;
  }
  .chr-details-content                { //top: 104px;
  }
}

// REDACTOR CUSTOMIZATION

.character                            {
  .redactor_box textarea              { background-color: #fff;
                                        color: #444;
                                        padding-top: 10px;
  }

  .redactor_toolbar li a:hover        { background-color: $secondary_color;
  }
  .redactor_toolbar li a:active,
  .redactor_toolbar li a.redactor_act { background-color: $secondary_color;
                                        color: #fff;
  }
  .redactor_dropdown                  { @include font;
    a:hover                           { background-color: $list_color;
    }
  }
}
