
.chr-list-header                      {
  .dropdown                           { cursor: pointer;
    &:after                           { @include triangle('down', 4px, #fff);
                                        position: relative;
                                        top: -2px;
                                        margin-left: 5px;
    }
  }
  .scope ul                           { @include reset-list;
                                        display: none;
                                        background-color: #fff;
                                        color: #fff;
                                        position: absolute;
                                        left: 25px;
                                        top: 60px;
                                        min-width: 150px;
                                        border-radius: 3px;
                                        box-shadow: 0px 1px 2px 0px rgba(65, 77, 100, .2);
    &:before                          { @include triangle('up', 8px, #fff);
                                        position: absolute;
                                        margin-top: -8px;
                                        left: 20px;
    }
    a                                 { font-size: 14px;
                                        font-weight: $font_bold;
                                        color: $list_scope_color;
                                        padding: 10px 14px;
                                        display: block;
      &:hover                         { background-color: #f8fcfd;
      }
      &.active                        { color: #fff;
                                        background-color: $secondary_color;
      }
    }
    li:first-child a                  { border-top-left-radius:3px; border-top-right-radius:3px; }
    li:last-child a                   { border-bottom-left-radius:3px; border-bottom-right-radius:3px; }
  }
  .scope ul.show                      { display: inline-block;
  }
}