//---------------------------------------------------------
// PAGES & POSTS
// Based on normalize.css & typebase.scss
// https://raw.githubusercontent.com/devinhunt/typebase.css/master/src/typebase.scss
//---------------------------------------------------------

$baseColor:  rgba(0,0,0,0.8);
$baseFont:   'Georgia', serif;
$headerFont: 'Myriad Pro', 'Verdana', sans-serif;
$codeFont:   'Monaco', 'Courier New', 'Courier', 'monospace';

// Typesetting variables. Edit these!
$baseFontSize:   20px; // in pixels. This would result in 22px on desktop
$baseLineHeight: 1.5; // how large the line height is as a multiple of font size
$leading:        $baseLineHeight * 1em;

.post, .page                          { font-family: $baseFont;
                                        font-size: $baseFontSize;
                                        color: $baseColor;
                                        letter-spacing: 0.02em;

  /* Copy & Lists */

  p                                   { line-height: $leading;
                                        margin-top: 0;
                                        margin-bottom: 0;
  }
  ul, ol                              { margin-top: 0;
                                        margin-bottom: 0;
    li                                { line-height: $leading; }
    ul, ol                            { margin-top: 0;
                                        margin-bottom: 0;
    }
  }
  blockquote                          { line-height: $leading;
                                        margin-top: $leading;
                                        margin-bottom: $leading;
  }

  /* Headings */

  h1, h2, h3, h4, h5, h6              { /* Change heading typefaces here */
                                        font-family: $headerFont;
                                        margin-top: $leading;
                                        margin-bottom: 0;
                                        line-height: $leading;
                                        letter-spacing: -0.01em;
  }
  $scale: 1.414;
  h1                                  { font-size: $scale * 2em; // TODO: recalculate
                                        line-height: 1.06em; // TODO: recalculate
                                        //margin-top: 2 * $leading;
  }
  h2                                  { font-size: $scale * 1.3em; // TODO: recalculate
                                        //line-height: 2 * $leading; // TODO: recalculate
                                        //margin-top: 2 * $leading;
  }
  h3                                  { font-size: $scale * 1em; }
  h4                                  { font-size: $scale / 3 * 1em; }
  h5                                  { font-size: $scale / 4 * 1em; }
  h6                                  { font-size: $scale / 5 * 1em; }

  /* Images */
  img                                 { max-width: 100%; }

  /* Links */
  a                                   { text-decoration: none; }

  /* Paragraphs */
  p + p                               { text-indent: 1.5em; }

  /* Tables */

  table                               { margin-top: $leading;
                                        border-spacing: 0px;
                                        border-collapse: collapse;
  }
  td, th                              { padding: 0;
                                        line-height: $baseLineHeight * $baseFontSize - 0px;
  }

  /* Code blocks */

  code                                { // Forces text to constrain to the line-height.
                                        // Not ideal, but works.
                                        vertical-align: bottom;
  }

  /* Horizontal Line */

  hr                                  { position: relative;
                                        left: 50%;
                                        width: 4em;
                                        margin: 2.25em 0 2.25em -2em;
                                        border-top-style: solid;
                                        border-top-color: lighten($baseColor, 80%);
                                        border-left-width: 0px;
                                        border-right-width: 0px;
                                        border-bottom-width: 0px;
  }

  // /* Leading paragraph text */

  // .lead {
  //     font-size: $scale * 1rem;
  // }
  // /* Hug a the block above you */

  // .hug {
  //     margin-top: 0;
  // }
}