//---------------------------------------------------------
// PAGES & POSTS
// Based on normalize.css & typebase.scss
// https://raw.githubusercontent.com/devinhunt/typebase.css/master/src/typebase.scss
//---------------------------------------------------------

$baseColor:  rgba(0,0,0,0.8);
$linkColor:  #222;
$baseFont:   'Georgia', serif;
$headerFont: 'Myriad Pro', 'Verdana', sans-serif;
$codeFont:   'Monaco', 'Courier New', 'Courier', 'monospace';

// Typesetting variables. Edit these!
$baseFontSize:   20; // in pixels. This would result in 22px on desktop
$baseLineHeight: 1.5; // how large the line height is as a multiple of font size
$leading:        $baseLineHeight * 1em;
$scale:          0.33;
$h1:             $scale * 7.3;
$h2:             $scale * 4.3;
$h3:             $scale * 3.3;

@mixin headerSize($fontSize)          {
  $lineHeight: ceil(100 * $baseLineHeight * ceil($fontSize / $baseLineHeight) / $fontSize);
  $margin: $lineHeight / 100;
                                        font-size: $fontSize * 1em;
                                        line-height: $lineHeight * 1%;
                                        margin-top: $margin * 1em;
                                        margin-bottom: $margin * 1em;
}

.post, .page                          { font-family: $baseFont;
                                        font-size: $baseFontSize * 1px;
                                        color: $baseColor;
                                        letter-spacing: 0.02em;

  /* Copy & Lists */

  p                                   { line-height: $leading;
                                        margin-top: 0;
                                        margin-bottom: 0;
  }
  ul, ol                              { margin-top: 0;
                                        margin-bottom: 0;
    li                                { line-height: $leading; }
    ul, ol                            { margin-top: 0;
                                        margin-bottom: 0;
    }
  }
  blockquote                          { line-height: $leading;
                                        margin-top: $leading;
                                        margin-bottom: $leading;
  }

  /* Headings */

  h1, h2, h3                          { /* Change heading typefaces here */
                                        font-family: $headerFont;
                                        line-height: $leading;
                                        letter-spacing: 0em;
  }
  h1                                  { @include headerSize($h1);
                                        margin-bottom: 0;
  }
  h2                                  { @include headerSize($h2); }
  h3                                  { @include headerSize($h3);
                                        margin-bottom: 0;
  }

  /* Images */
  img                                 { max-width: 100%; }

  /* Links */
  a                                   { color: $linkColor;
                                        background-clip: border-box;
                                        background-image:linear-gradient(rgb(255, 255, 255) 50%, rgb(102, 102, 101) 50%);
                                        background-position: 0 1em;
                                        background-repeat: repeat-x;
                                        background-size: 2px 2px;
                                        text-decoration: none;
                                        word-break: break-all;
  }

  /* Paragraphs */
  p + p                               { text-indent: 1.5em; }

  /* Smart line break */
  p br                                { content: '';
                                        display: block;
                                        height: 1px;
                                        line-height: 0;
                                        padding: 0;
                                        margin: $leading auto 0;
  }

  /* Tables */

  table                               { margin-top: $leading;
                                        border-spacing: 0px;
                                        border-collapse: collapse;
  }
  td, th                              { padding: 0;
                                        line-height: $baseLineHeight * $baseFontSize - 0px;
  }

  /* Code blocks */

  code                                { // Forces text to constrain to the line-height.
                                        // Not ideal, but works.
                                        vertical-align: bottom;
  }

  /* Horizontal Line */

  hr                                  { position: relative;
                                        left: 50%;
                                        width: 4em;
                                        margin: 2.25em 0 2.25em -2em;
                                        border-top-style: solid;
                                        border-top-color: lighten($baseColor, 80%);
                                        border-left-width: 0px;
                                        border-right-width: 0px;
                                        border-bottom-width: 0px;
  }
}