#character_blog_post_title            { @extend h1;
                                        border: none;
                                        margin-bottom: .25em;
                                        -webkit-transition: none;
                                        -moz-transition: none;
                                        transition: none;
}


#character_blog_post_tagline          { @extend h2;
                                        border: none;
                                        margin-bottom: 1em;
                                        -webkit-transition: none;
                                        -moz-transition: none;
                                        transition: none;
}

.chr-air-writer .redactor_box,
.chr-air-writer .redactor_box.focus   {
  .redactor_editor                    { padding: 0;
  }
}

.blog_categories                      {
  .row.category                       { max-width: 100%;
  }
}
