#post_title,
#post_body                            { cursor: text;
  &:focus                             { outline:none;
  }
}

.blog_categories                      {
  .row.category                       { max-width: 100%;
  }
}