@charset "UTF-8";

@import "font-awesome";
@import "compass/css3";

$primary-color: #232323;

$input-border-color: #eee;
$input-box-shadow: none;
$input-prefix-bg: darken(#fff, 1%);
$input-prefix-border-size: 1px;
$input-prefix-border-color: #eee; // doesn't work
$input-prefix-font-color: #6f6f6f;

$panel-bg: #fff;
$panel-border-color: #eee;
$panel-border-style: dashed;
$form-label-font-color: #777;

$form-label-font-size: .8em;
$form-label-font-weight: 400;
$form-label-bottom-margin: .5em;

$input-disabled-bg: #fafafa;

@import "foundation";

@import "character_login";
@import "character_layout";
@import "character_menu";
@import "generic/app";

// this makes no bouncing effect when scrolling
html                                  { overflow: hidden;
}

// override Foundations default relative position
body                                  { position: inherit;
}