//= require_self

@charset "UTF-8";

@import "font-awesome";
@import "compass/css3";

$primary-color: #232323;

$input-border-color: #eee;
$input-box-shadow: none;
$input-prefix-bg: darken(#fff, 1%);
$input-prefix-border-size: 1px;
$input-prefix-border-color: #eee; // doesn't work
$input-prefix-font-color: #6f6f6f;

$panel-bg: #fff;
$panel-border-color: #eee;
$panel-border-style: dashed;
$form-label-font-color: #777;

$form-label-font-size: .8em;
$form-label-font-weight: 400;
$form-label-bottom-margin: .5em;




@import "foundation";
@import "generic";
@import "settings";







@media #{$small}                      {

  .chr-main-layout                    { position: absolute;
                                        left: 100px;
                                        top: 0;
                                        bottom: 0;
                                        right: 0;
                                        overflow: hidden;
  }
}

body                                  { background: #fafafa;
                                        position: inherit;
}

.top-bar                              { margin-bottom: 0;
}

.chr-user-image                       { margin-top:-0.3em;
                                        @include border-radius(3px);
}

.chr-login                            { position: fixed;
                                        width: 100%;
                                        height: 100%;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        background-position: center center;
                                        background-attachment: fixed;
  
  .browserid_login                    { position: absolute;
                                        bottom: 2em;
                                        right: 2em;
                                        margin-bottom: 0;
  }
}





// Foundation postfix fix

span.prefix,
span.postfix                          { line-height: 2.5em;
                                        height: 2.5em;
                                        border-color: #eee;
}

// Foundation fix for date field input dropdown

.row.chr-date-dmy                     {
  .chr-date-day .date.custom          { border-right:none;
  }
  .chr-date-year .date.custom         { border-left:none;
  }
}



// Foundation fix for textarea height

.chr-generic-details form textarea    { height:auto;
}



// FOUNDATION: checkbox + label fix, to have in one line


.custom label.boolean                 { display:inline-block;
                                        margin-left: .5em;
                                        margin-top: .2em;
}


// FOUNDATION: menu layout fix to have sidebar


@media #{$small}                      {

  .chr-header                         { z-index:1;
                                        position:absolute;
  }

  .chr-header,
  .top-bar                            { width:100px;
                                        height:100%;
  }
  .title-area                         { width:100%;
                                        height:68px;
    .name h1                          { line-height:68px;
                                        text-align:center;
    }
  }

  .top-bar-section li a:not(.button)  { line-height:inherit;
                                        padding:1.4em 0 1em;
  }

  .top-bar-section li a i             { font-size:2em;
                                        opacity:0.4;
                                        display:block;
                                        margin-bottom:.3em;
  }

  .top-bar-section                    { height:100%;
    .left,
    .right                            { width:100%;
    }
    .right                            { position: absolute;
                                        left: 0;
                                        bottom: 0px;
    }
    ul li                             { width:100%;
                                        text-align:center;
                                        font-size:.85em;
      
      &.active a                      { background:rgb(34, 34, 34);
        i                             { opacity:1;
        }
      }

      & > a                           { font-weight:600;
                                        color:#ccc;
        &:hover i                     { opacity:1;
        }
      }
    }
    ul > .divider                     { height:1px;
    }
  }
}






