

.logo                                 { background-position: 50% 50%;
                                        background-repeat: no-repeat no-repeat;
}

.chr-action,
.chr-actions a                        { color: $chr-action-color;
                                        font-size: 12px;
  &.active,
  &:hover                             { text-decoration: underline;
  }
}

.chr-action-pin                       { margin-left: 5px;
                                        margin-right: 4px;
  &:before                            { content: '\00B7';
                                        font-size: 17px;
                                        color: $chr-action-color;
  }
}

.chr-action-save                      { position: absolute; top: 0; right: 0;
                                        border-left: 1px solid $chr-border-color;
                                        color: $chr-action-color;
                                        line-height: $chr-action-save-height;
                                        padding: 0 1.5em;
  &.disabled                          { color: lighten($chr-action-color, 30%);
  }
}

.chr-app-details-form form            { margin: 3em 0;
  & > .row > .columns                 { padding: 0 6%;
  }
  // Simpleform layout fixes
  //------------------------
  // checkbox + label fix, to have in one line
  label.boolean                       { display:inline-block;
                                        margin-left: .5em;
                                        margin-top: .2em;
  }
  // Foundation fix for textarea height
  textarea                            { height:auto;
  }
}

.chr-top-drawer                       { margin-top: -10.6em;
                                        margin-bottom: 1.4em;
                                        padding-bottom: 0;
                                        background-color: #fff;
   &:hover                            { background-color: $panel-bg;
  }

  &.shown                             { margin-top: -3em;
                                        background-color: $panel-bg;
    .action-show-drawer i:before      { content: '\f106';
    }
  }

  .action-show-drawer                 { display: block;
                                        text-align: center;
                                        opacity: .3;
                                        line-height: 1.5;
                                        width: 100%;
                                        float: left;
  }
}

input[type=text].chr-title-input      { background-color: transparent;
                                        border: none;
                                        line-height: 1;
                                        padding: 0 0 1em 0;
                                        border-bottom: 1px dashed $chr-border-color;
                                        font-weight: bold;
                                        font-size: 1.5em;
  &:focus                             { box-shadow: none;
  }
}