
.chr-generic-details                  {
  &.fullscreen                        { width: 100%;
  }
}


.chr-generic-details                  {
  &.fullscreen                        { background:#fff;
    header                            { padding-left:3%;
                                        padding-right:3%;
    }
  }
}

