//= require_self
//= require jquery.ui.datepicker

// Make sure the charset is set appropriately
@charset "UTF-8";

@import "foundation-icons";
@import "font-awesome";

@import "compass/css3";

// $em-base: 14px;
// $body-bg: #edeeef;
// $body-font-color: #222;
// $primary-color: #355d98;
$column-gutter: 1em; // 1.875em;
// $topbar-bg: $primary-color;
// $topbar-height: 40px; // 45px;
$row-width: 100%;

@import "foundation";

.top-bar                              { margin-bottom:0;
}

.chr-logout                           {
  img                                 { margin: -.2em .5em 0 0;
                                        @include border-radius(5px);
  }
}

.chr-index-layout                     { margin-top:$column-gutter/2;
}

.chr-index-view                       { position: fixed;
                                        padding-bottom: 3.8em;
                                        height:100%;
      .panel                          { height:100%;
                                        padding:0;
      }

      header                          { padding:.5em;
      }

      li                              { padding:0 .5em;
                                        margin-bottom:1px;
                                        background-color:white;
        a                             { display:block;
        }
      }
      
      img                             { width:36px;
                                        height:36px;
                                        margin:-4px .25em 0 -4px;
                                        @include border-radius(18px);
      }
}

.chr-index-item-title                 { line-height:2.8;
}


@media #{$small}                      {
  .chr-index-layout                   {
    .row > .columns:last-child        { padding-left:$column-gutter/4;
    }
  }
  .chr-index-view                     { padding-right:$column-gutter/4;
  }
}





