//= require_self

@charset "UTF-8";

@import "font-awesome";
@import "compass/css3";

$primary-color: #232323;
$input-border-color: #eee;
$input-box-shadow: none;
$panel-bg: #fff;
$panel-border-color: #eee;
$panel-border-style: dashed;
$form-label-font-color: #777;

$form-label-font-size: .8em;
$form-label-font-weight: 400;
//$form-label-font-color: lighten(#000, 30%);
$form-label-bottom-margin: .5em;

@import "foundation";
@import "theme";


// FOUNDATION: checkbox + label fix, to have in one line


.custom label.boolean                 { display:inline-block;
                                        margin-left: .5em;
                                        margin-top: .2em;
}


// FOUNDATION: menu layout fix to have sidebar


@media #{$small}                      {

  .chr-header                         { z-index:1;
                                        position:absolute;
  }

  .chr-header,
  .top-bar                            { width:100px;
                                        height:100%;
  }
  .title-area                         { width:100%;
                                        height:68px;
    .name h1                          { line-height:68px;
                                        text-align:center;
    }
  }

  .top-bar-section li a:not(.button)  { line-height:inherit;
                                        padding:1.4em 0 1em;
  }

  .top-bar-section li a i             { font-size:2em;
                                        opacity:0.4;
                                        display:block;
                                        margin-bottom:.3em;
  }

  .top-bar-section                    { height:100%;
    .left,
    .right                            { width:100%;
    }
    .right                            { position: absolute;
                                        left: 0;
                                        bottom: 0px;
    }
    ul li                             { width:100%;
                                        text-align:center;
                                        font-size:.85em;
      
      &.active a                      { background:rgb(34, 34, 34);
        i                             { opacity:1;
        }
      }

      & > a                           { font-weight:600;
                                        color:#ccc;
        &:hover i                     { opacity:1;
        }
      }
    }
    ul > .divider                     { height:1px;
    }
  }
}






