//= require_self
//= require jquery.ui.datepicker

// Make sure the charset is set appropriately
@charset "UTF-8";

@import "foundation-icons";

@import "compass/css3";

// THEME for forms

$input-border-color: #eee;//darken(#fff, 20%);
$input-box-shadow: none;
$panel-bg: #fff;
$panel-border-color: #eee;
$panel-border-style: dashed;
$form-label-font-color: #777; 

@import "foundation";

body                                  { background: #fafafa;
                                        position: inherit;
}

.top-bar                              { margin-bottom: 0;
}

.chr-user-image                       { margin-top:-0.3em;
                                        @include border-radius(3px);
}

.custom label.boolean                 { display:inline-block;
                                        margin-left: .5em;
                                        margin-top: .2em;
}

@import "theme";

