
.chr-action-save                      { border-left: 1px solid $chr-border-color;
}

.chr-app-layout .logo                 { box-shadow: 0 0 3px rgba(0,0,0,0.1);
                                        border-left: 1px solid #e3e6e9;
}

.chr-app-list-header                  { box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.chr-app-list-item:last-child         { border-bottom: 1px solid #ddd;
                                        box-shadow: 0 0 3px #ddd;
  }
}

$list-item-active-border-color: #cfcfcf;

.chr-app-list-item                    {
  &.active a                          { box-shadow: 0 1px 3px #ededed inset;
                                        border-color: $list-item-active-border-color;
  }
}

.chr-content                          { box-shadow: -1px 0 10px 0 rgba(0,0,0,0.5);
}