
body                                  { background: #fafafa;
                                        position: inherit;
}

.top-bar                              { margin-bottom: 0;
}

.chr-user-image                       { margin-top:-0.3em;
                                        @include border-radius(3px);
}


// Application layout


@media #{$small}                      {

  .chr-main-layout                    { position: absolute;
                                        left: 100px;
                                        top: 0;
                                        bottom: 0;
                                        right: 0;
                                        overflow: hidden;
  }

  // Index application

  .chr-index-list                     { width: 40%;
                                        position: absolute;
                                        bottom: 0;
                                        top: 0;
                                        z-index: 2;
  }

  .chr-index-details                  { width: 60%;
                                        position: absolute;
                                        bottom: 0;
                                        top: 0;
                                        right:0;
                                        z-index: 3;
                                        position: absolute;
                                        overflow: hidden;
                                        overflow-y: auto;
                                        
  }
}



$list-item-height: 66px;

.chr-main-layout                      { box-shadow: -1px 0 10px 0 rgba(0,0,0,0.5);
                                        z-index: 2;
}

.chr-actions                          { padding-left: .7em;
                                        display:inline;
    &:before                          { content: '\00B7';
                                        position: absolute;
                                        margin: 1px 0 0 -.55em;
                                        color:#888;
    }
  a                                   { color:#888;
                                        font-size:.8em;
    &:hover                           { text-decoration:underline;
    }
  }
}

.chr-index-list                       {
  header                              { padding: 1.25em 1.5em 0em;
                                        background: #fff;
                                        box-shadow: 0 0 2px rgba(0,0,0,0.2);
                                        min-height:$list-item-height;
                                        // to have shadow for header
                                        position: absolute;
                                        width: 100%;
                                        z-index:2;
                                        line-height:1.65;
  }

  section                             { overflow: hidden;
                                        overflow-y: auto;
                                        position: absolute;
                                        top: $list-item-height;
                                        bottom: 0;
                                        left: 0;
                                        right: 0;
                                        z-index: 1;
  }

  ul                                  { margin-bottom:72px;
  }
  
  li                                  {

    
    &.active a                        { box-shadow: 0 1px 3px #ededed inset;
                                        background: #f1f1f1;
                                        border-color: #cfcfcf;
                                        color: #555;

      strong                          { color: #333;
      }
    }
    
    &:last-child                      { border-bottom: 1px solid #ddd;
                                        box-shadow: 0 0 3px #ddd;
    }
    a                                 { background: #fafafa;
                                        border-top: 1px solid #eee;
                                        padding: 1em 1.3em 0em;
                                        position: relative;
                                        min-height: $list-item-height;
                                        display:block;
                                        color:#999;
      
      span,
      strong                          { 
                                        font-size:.9em;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        display: block;
                                        line-height: 1.2;
      }

      span                            { font-size:.75em;
                                        line-height: 1.8;
      }

      strong                          { color:#666;

      }
    }

    img                               { width:26px;
                                        height:26px;
                                        float:left;
                                        @include border-radius(15px);
    }

    .chr-container                    { padding: 0 0 0 2.5em;
    }
  }
}

.chr-index-details                    { background:#fff;
                                        border-left:1px solid #e3e6e9;
                                        box-shadow: 0 0 3px rgba(0,0,0,0.1);

  header                              { padding: .95em 1.5em 0;
                                        background: #fff;
                                        border-bottom: 1px solid #eee;
                                        min-height:$list-item-height + 1;
                                        padding-left: 6%;
                                        padding-right: 6%;

    aside                             { line-height: 2.3;
      a                               { padding: 0 0 0 .25em;
      }
    }
    
    img                               { width:36px;
                                        height:36px;
                                        @include border-radius(18px);
                                        float: left;
                                        margin-right: 1em;
    }

    .chr-container                    { line-height: 1.3;
                                        font-size:.9em;
                                        float:left;

      &.chr-no-meta                   { line-height: 2.4;
      }

      strong                          { color:#444;
      }

      .chr-single-title               { font-size: 1.05em;
      }

      .chr-meta                       { color:#777;
                                        font-size:.9em;
      }
    }
  }

  section form                        { margin: 2.5em 6%; // foundation has issues with padding
    & > .row > .columns               { padding-left:0;
                                        padding-right:0;
    }
  }
}






