

// this makes no bouncing effect when scrolling
html                                  { overflow: hidden;
}

// override Foundations default relative position
body                                  { position: inherit;
}

.logo                                 { background-position: 50% 50%;
                                        background-repeat: no-repeat no-repeat;
}

.chr-login                            { position: fixed;
                                        width: 100%;
                                        height: 100%;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        background-position: center center;
                                        background-attachment: fixed;

  .icon-user                          { margin-right: .3em;
  }

  .browserid_login                    { @include button-base;
                                        @include button-size;
                                        @include button-style($secondary-color, 0px, false);
                                        position: absolute;
                                        bottom: 1em;
                                        right: 2em;
  }
}

.chr-content                          { position: absolute;
                                        left: 100px;
                                        top: 0;
                                        bottom: 0;
                                        right: 0;
                                        z-index: 2;
}


.chr-menu nav                         { position: absolute;
                                        width: $chr-menu-width;
                                        height: 100%;
                                        z-index: 1;
                                        background-color: $chr-menu-bg-color;
                                        text-align: center;
  img                                 { margin: 16px 0;
                                        width: 36px;
                                        height: 36px;
                                        border-radius: 18px;
  }

  ul                                  { @extend .no-bullet;
                                        border-bottom: 1px solid $chr-menu-divider-color;
  }

  a                                   { display: block;
                                        width: 100px;
                                        height: 74px;
                                        border-top: 1px solid $chr-menu-divider-color;
                                        color: $chr-menu-item-color;
                                        font-weight: 600;
                                        font-size: 0.7em;
    &:hover i                         { opacity: 1;
    }

    &.active                          { background-color: $chr-menu-divider-color;
                                        color: $chr-menu-item-active-color;
      i                               { opacity: 1;
      }
    }
  }

  & > a                               { position: absolute;
                                        bottom: 0;
                                        left: 0;
  }

  i                                   { display: block;
                                        font-size: 2em;
                                        opacity: 0.4;
                                        margin-bottom: .2em;
                                        margin-top: .6em;
  }
}