<section class='chr-login'>
  <header class='chr-login-icon'>
    <i class='icon-cogs'></i>
  </header>
  
  <div class='chr-login-message'>
    <h1><%= ENV['WEBSITE_NAME'] %></h1>
    <p>Administration Spot</p>
    
    <%= link_to browserid_config.login.path, class: :browserid_login do %>
      <i class='icon-user'></i>
      <strong>Login with Persona</strong>
    <% end %>
  </div>
</section>
