<div class='chr-form-small'>
  <%= simple_form_for @object, url: @form_action_url, method: :post do |f| %>
    <% @generic_form_fields.each do |name| %>
      <%= f.input name %>
    <% end %>

    <% if @object.class.fields.keys.include? '_position' %>
      <%= f.input :_position, as: :hidden %>
    <% end %>
  <% end %>
</div>