//= require normalize

$base_color: #333332!default;
$base_font: Georgia!default;
$code_font: Monaco, 'Courier New', 'Courier', monospace!default;
$header_font: "Myriad Pro", Verdana, sans-serif!default;

// generic

.blog-post-link                       { text-decoration: none;
                                        color: $base_color;
}

.blog-index, .blog-post               { font-family: $base_font;
                                        color: $base_color;
                                        max-width: 700px;
                                        margin: 0 auto;
                                        padding: 20px;
                                        -webkit-font-smoothing: antialiased;
}

// index

.blog-index .item h3                  { font-family: $header_font; font-size: 26px;
                                        margin-bottom: 0;
}

.blog-index .item p                   { font-size: 18px; line-height: 1.5;
                                        margin: 0 0 2em;
}

// post

.blog-post                            { @import "_typography";
}