<% set_meta_tags  title:       "#{ @category.title } | #{ @title }",
                  description: @description, # use same description as website
                  canonical:   "//#{ @domain }#{ posts_category_path(@category) }",
                  open_graph:  { type:        'blog',
                                 title:       "#{ @category.title } | #{ @title }",
                                 description: @description, # use same description as website
                                 url:         "//#{ @domain }#{ posts_category_path(@category) }" } %>

<section class='posts-index'>
  <% @posts.each do |p| %>

    <article class='item'>
      <%= link_to posts_show_path(p), rel: 'bookmark', class: 'post-link' do %>
        <h3><%= p.title %></h3>
        <p><%= p.subtitle.html_safe %></p>
      <% end %>
    </article>

  <% end %>
</section>