<% set_meta_tags  title: @title,
                  description: @description,
                  canonical: "http://#{ @domain }#{ posts_index_path }",
                  open_graph: { type: 'blog',
                                title: @title,
                                description: @description,
                                url: "http://#{ @domain }#{ posts_index_path }" } %>

<% @posts.each do |p| %>
  <%= render partial: 'post', locals: { post: p } %>
<% end %>

<nav class='pagination'>
  <div class='container'>
    <%= link_to_previous_page @posts, 'Newer Posts', params: @kaminari_params %>
    <%= link_to_next_page @posts, 'Older Posts', params: @kaminari_params  %>
  </div>
</nav>
