<% set_meta_tags  title:       @post.title,
                  description: @post.subtitle,
                  keywords:    @post.keywords,
                  canonical:   "http://#{ @domain }#{ posts_show_path(@post.slug) }",
                  :og => {
                    :title  => @post.title,
                    :type   => 'article',
                    :url    => "http://#{ @domain }#{ posts_show_path(@post.slug) }",
                    :image  => @post.featured_image_url } %>

<article class='posts-show'>
  <header>
    <h1><%= link_to @post.title, posts_show_path(@post), rel: 'bookmark', class: 'post-link' %></h1>
  </header>

  <div class='content'>
    <%= @post.body_html.html_safe %>
  </div>
</article>