@charset "UTF-8";

@import "font-awesome";
@import "compass/css3";

// Character Settings =====================================

$chr-secondary-bg-color: #fafafa;
$chr-border-color: #f1f1f1;

$chr-menu-width: 100px;
$chr-menu-divider-color: #222;
$chr-menu-bg-color: #111;
$chr-menu-item-color: #ccc;
$chr-menu-item-active-color: #fff;

$chr-settings-header-height: 68px;
$chr-settings-header-color: #777;
$chr-settings-list-item-active-color: #222;

$chr-list-bg-color: $chr-secondary-bg-color;
$chr-list-header-height: 68px;

$chr-list-item-height: 68px;
$chr-list-item-active-bg: #f5f5f5;
$chr-list-item-title-color: #666;
$chr-list-item-meta-color: #999;
$chr-list-item-active-title-color: #333;
$chr-list-item-active-meta-color: #555;

$chr-action-color: #666;
$chr-action-save-height: 68px;

// Foundation Settings ====================================

$body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$primary-color: #232323;

$input-border-color: #ddd;
$input-focus-bg-color: #fff;
$input-box-shadow: none;
$input-prefix-bg: darken(#fff, 1%);
$input-prefix-border-size: 1px;
$input-prefix-font-color: #6f6f6f;
$input-include-glowing-effect: false;
$input-disabled-bg: #fafafa;

$panel-bg: $chr-secondary-bg-color;
$panel-border-style: none;

$table-even-row-bg: $chr-secondary-bg-color;

$f-dropdown-margin-top: 10px;

@import "foundation";

// Awkward

$chr-list-header-dropdown-color: $dropdown-button-pip-color-alt;

// Helpers ================================================

@mixin position($left, $top, $right, $bottom, $z-index: 0) {
                                        position: absolute;
                                        left: $left;
                                        top: $top;
                                        right: $right;
                                        bottom: $bottom;
                                        z-index: $z-index;
}

@mixin scrollable                     { overflow: hidden;
                                        overflow-y: auto;
}



// Imports

@import "./character/app/details";
@import "./character/app/list";
@import "./character/app/list_header";
@import "./character/app/list_item";
@import "./character/app/main";
@import "./character/elements/actions";
@import "./character/elements/drawer";
@import "./character/elements/form";
@import "./character/helpers/images";
@import "./character/blog/post";



// Character Layout =======================================

// this makes no bouncing effect when scrolling
html                                  { overflow: hidden;
}

// override Foundations default relative position
body                                  { position: inherit;
}

// hiding template for Safari
template                              { display: none;
}

.logo                                 { background-position: 50% 50%;
                                        background-repeat: no-repeat no-repeat;
}

.chr-login                            { position: fixed;
                                        width: 100%;
                                        height: 100%;
                                        background-size: cover;
                                        background-repeat: no-repeat;
                                        background-position: center center;
                                        background-attachment: fixed;

  .icon-user                          { margin-right: .3em;
  }

  .browserid_login                    { @include button-base;
                                        @include button-size;
                                        @include button-style($secondary-color, 0px, false);
                                        position: absolute;
                                        bottom: 1em;
                                        right: 2em;
                                        font-size: 1.5em;
    i                                 { margin-right: .2em;
    }
    small                             { font-size: 70%;
                                        opacity: .75;
    }
  }
}

.chr-content                          { position: absolute;
                                        left: 100px;
                                        top: 0;
                                        bottom: 0;
                                        right: 0;
                                        z-index: 2;
}


.chr-menu nav                         { position: absolute;
                                        width: $chr-menu-width;
                                        height: 100%;
                                        z-index: 1;
                                        background-color: $chr-menu-bg-color;
                                        text-align: center;
  img                                 { margin: 16px 0;
                                        width: 36px;
                                        height: 36px;
                                        border-radius: 18px;
  }

  ul                                  { @extend .no-bullet;
                                        border-bottom: 1px solid $chr-menu-divider-color;
  }

  a                                   { display: block;
                                        width: 100px;
                                        height: 74px;
                                        border-top: 1px solid $chr-menu-divider-color;
                                        color: $chr-menu-item-color;
                                        font-weight: 600;
                                        font-size: 0.7em;
    &:hover i                         { opacity: 1;
    }

    &.active                          { background-color: $chr-menu-divider-color;
                                        color: $chr-menu-item-active-color;
      i                               { opacity: 1;
      }
    }
  }

  & > a                               { position: absolute;
                                        bottom: 0;
                                        left: 0;
  }

  i                                   { display: block;
                                        font-size: 2em;
                                        opacity: 0.4;
                                        margin-bottom: .2em;
                                        margin-top: .6em;
  }
}



// Settings ===============================================

.chr-module-settings                  {
  .left-panel                         { position: absolute;
                                        width: 25%;
                                        bottom: 0;
                                        top: 0;
                                        z-index: 2;
  }

  .right-panel                        { position: absolute;
                                        width: 75%;
                                        bottom: -10px;
                                        top: 0;
                                        right: 0;
                                        z-index: 3;
                                        border-left: 1px solid $chr-border-color;
  }

  .browserid_logout                   { position: absolute;
                                        bottom: 0px;
                                        left: 0px;
                                        right: 0px;
                                        margin: 0 1em 1em;
                                        line-height: 1.3;
    .user-email                       { font-weight: normal;
                                        color: $chr-settings-header-color;
    }
  }
}

.chr-module-settings-list             { @extend .no-bullet;
  a                                   { display: block;
                                        color: $chr-settings-header-color;
                                        line-height: 2.5;
                                        padding: 0 1.4em 0;
    &.active, &:hover                 { color: $chr-settings-list-item-active-color;
      &:after                         { content: "\f105";
                                        font-family: FontAwesome;
                                        position: absolute;
                                        right: 1.4em;
      }
    }
  }
}

.chr-module-settings-list-header      { height: $chr-settings-header-height;
                                        color: $chr-settings-header-color;
                                        padding: 1em 1em 0em;
                                        font-size: 1.3em;
}

.chr-module-settings-details-header   { padding: 1.5em 6% 0;
                                        border-bottom: 1px solid $chr-border-color;
                                        height: $chr-settings-header-height;
                                        position: absolute; left: 0; top: 0; right: 0;
  .title                              { font-size: 1.2em;
  }
}

.chr-module-settings-details-form     { @include position(0, $chr-settings-header-height, 0, inherit);
                                        @include scrollable;
                                        padding-top: 3em;
                                        min-height: 100%;
                                        background-color: white;
}

.chr-module-settings-details-form     {
  &.admins                            {
    img                               { @include border-radius(28px);
                                        margin-top: -.5em;
                                        width: 46px;
                                        height: 46px;
                                        float: right;
    }

    .row .column.chr-actions,
    .row .columns.chr-actions         { line-height: 1.8;
                                        padding-left: 0;
    }

    .row .row                         { margin-bottom: 1em;
                                        margin-top: 1em;
    }
  }

  &.post-categories {
    .category                         { padding: .25em 0;

      & > .columns                    { padding: 0 6%;
      }

      .details                        { display: none;
                                        margin-top: 1em;
      }

      &.selected                      { background-color: $chr-list-bg-color;
        .details                      { display: block;
        }
        .title                        { text-decoration: underline;
        }
      }
    }
  }
}