//= require normalize
//= require character_editor
//= require font-awesome

@import "compass/reset/utilities";

@mixin position($left, $top, $right, $bottom, $z-index: 0) {
                                        position: absolute;
                                        left: $left; top: $top; right: $right; bottom: $bottom;
                                        z-index: $z-index;
}

@mixin scrollable                     { overflow: hidden;
                                        overflow-y: auto;
}

@mixin reset-list                     { margin: 0;
                                        padding: 0;
                                        @include reset-list-style;
}

@mixin font                           { font-family: 'Open Sans', sans-serif;
}

// https://github.com/michaelsacca/Compass-Placeholder-Text-Mixin
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

// this makes no bouncing effect when scrolling on mac with touchpad
html                                  { overflow: hidden;
}

// antialiased fonts on webkit browsers
body                                  { -webkit-font-smoothing: antialiased;
}

// hiding template for Safari
template                              { display: none;
}

a                                     { text-decoration: none;
}

// order matters
@import "character/_menu";
@import "character/_layout";
@import "character/_login";
@import "character/_buttons";
@import "character/_search";
@import "character/_settings";
@import "character/_blog";


// .chr-error-modal                      { //@extend .reveal-modal;
//                                         padding: 0;
//   a.close-reveal-modal                { right: 30px;
//                                         color: #fff;
//                                         font-size:1.6em;
//   }
// }


.browserid_logout { display: none; }