.chr-action,
.chr-actions a                        { color: $chr-action-color;
                                        font-size: 12px;
  &.active,
  &:hover                             { text-decoration: underline;
  }
}

.chr-action:hover                     { text-decoration: none;
                                        color: $chr-action-color;
  .lb                                 { text-decoration: underline;
  }
}

.chr-action-pin                       { margin-left: 5px;
                                        margin-right: 4px;
  &:before                            { content: '\00B7';
                                        font-size: 17px;
                                        color: $chr-action-color;
  }
}

.chr-action-save                      { position: absolute; top: 0; right: 0;
                                        color: $chr-action-color;
                                        line-height: $chr-action-save-height;
                                        padding: 0 1.5em;
  &.disabled                          { color: lighten($chr-action-color, 30%);
  }
}