.chr-top-drawer                       { margin-bottom: 1.4em;
                                        padding-top: 1.25em;
                                        padding-bottom: 0;
                                        background-color: #fff;
   &:hover                            { background-color: $panel-bg;
  }

  &.shown                             { background-color: $panel-bg;
    .action-show-drawer i:before      { content: '\f106';
    }
  }

  .action-show-drawer                 { display: block;
                                        text-align: center;
                                        opacity: .3;
                                        line-height: 1.5;
                                        width: 100%;
                                        float: left;
  }
}