.chr-form-label                       { margin-bottom: $form-label-bottom-margin;
                                        font-size: $form-label-font-size;
                                        font-weight: bold;
}

.chr-form-split                       { //background: $chr-border-color;
                                        height: 0px;
                                        margin-top: .5em;
                                        margin-bottom: 1.5em;
}

.chr-form-panel                       { border: 1px solid $input-border-color;
                                        background-color: $chr-secondary-bg-color;
                                        padding-top: .5em;
  .columns input:last-child           { margin-bottom: .65em;
  }
}

.chr-app-details-form form            { margin: 3em 0;
  & > .row > .columns                 { padding: 0 6%;
  }

  // Simpleform layout fixes
  //------------------------
  // checkbox + label fix, to have in one line
  label.boolean                       { display:inline-block;
                                        margin-left: .5em;
                                        margin-top: .2em;
  }

  // Foundation fix for textarea height
  textarea                            { height: auto;
  }

  span.prefix, label.postfix          { line-height: 2.5em;
                                        height: 2.5em;
  }

  label .note                         { font-weight: normal;
                                        color: lighten($primary-color, 40%);
  }
}

input[type=text].chr-title-input      { background-color: transparent;
                                        border: none;
                                        line-height: 1;
                                        padding: 0 0 1em 0;
                                        border-bottom: 1px dashed $chr-border-color;
                                        font-weight: bold;
                                        font-size: 1.5em;
  &:focus                             { box-shadow: none;
  }
}

.chr-form-group                       { margin-bottom: 1em;
  &.shown                             { background-color: $panel-bg;
  }
}

select                                { font-size: 12px;
                                        border-radius: 1px;
                                        height: 28px;
                                        margin-top: 3px;

                                        -webkit-appearance: menulist-button;
                                        -webkit-rtl-ordering: logical;
                                        -webkit-writing-mode: horizontal-tb;
                                        align-items: center;

                                        border-color: #ccc;
  &:focus                             { outline-color: transparent;
                                        outline-style: none;
                                        border-color: $input-focus-border-color;
  }
}

.chr-form-image-upload                { margin-bottom: 1em;
  img                                 { position: absolute;
                                        width: 56px;
                                        height: 56px;
  }
  aside                               { margin-left: 66px;
                                        padding-top: .5em;
                                        height: 56px;
    .input.file input                 { margin-bottom: .5em;
    }
  }
}