

.chr-app-details-header               { @include position(0, 0, 0, inherit);
                                        height: $chr-list-header-height;
                                        border-bottom: 1px solid $chr-border-color;
                                        padding: 1.5em 6% 0em;
  .title                              { font-size:1.2em;
  }
}

.chr-app-details-form                 { @include position(0, $chr-list-header-height, 0, 0);
                                        @include scrollable;
                                        background-color: #fff;
}

.chr-app-details.edit                 {
  .chr-app-details-header             { padding-top: .9em;
    .title                            { font-size: .9em;
                                        font-weight: bold;
    }
    .meta                             { font-size: .8em;
                                        color: #777;
                                        line-height: 2;
    }
  }
  .chr-action-save .create            { display: none;
  }
}

.chr-app-details.new                  {
  .chr-app-details-header             {
    .chr-actions                      { display: none;
    }
  }
  .chr-action-save .save              { display: none;
  }
}