

.chr-app-list                         { @include position(0, $list-header-height, 0, 0, 1);
                                        @include scrollable;
                                        background-color: $list-bg-color;

  ul                                  { @extend .no-bullet;
  }

  .empty                              { text-align: center;
                                        line-height: 5;
                                        color: #777;
                                        font-size: .8em;
                                        text-transform: uppercase;
  }
}