

.chr-app-list-item                    {
  &.has-thumbnail a img               { display: inline-block;
  }
  a img                               { display: none;
                                        width: 36px;
                                        height: 36px;
                                        @include border-radius(18px);
                                        float: left;
                                        margin-right: 1em;
  }

  &.active a                          { background: $chr-list-item-active-bg;
    .title                            { color: $chr-list-item-active-title-color;
    }
    .meta                             { color: $chr-list-item-active-meta-color;
    }
  }

  a                                   { background: $chr-list-bg-color;
                                        border-bottom: 1px solid $chr-border-color;
                                        padding: 1em 1.3em 0em;
                                        position: relative;
                                        height: $chr-list-item-height;
                                        display: block;
    .meta,
    .title                            { font-size:.9em;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        display: block;
                                        line-height: 1.2;
    }
    .meta                             { font-size:.75em;
                                        line-height: 2;
                                        color: $chr-list-item-meta-color;
    }
    .title                            { color: $chr-list-item-title-color;
    }
  }

  .has-image                          {
    .container                        { padding: 0 0 0 2.5em;
    }
  }
}