

.chr-app-list-header                  { @include position(0, 0, 0, inherit, 2);
                                        height: $chr-list-header-height;
                                        width: 100%;
                                        padding: 1.25em 1.6em 0em;
                                        line-height: 1.65;
                                        border-bottom: 1px solid $chr-border-color;

  .title.dropdown                     { border-bottom: 1px dashed $chr-action-color;
                                        padding-bottom: .1em;
  }
}