

.chr-app-list-header                  { @include position(0, 0, 0, inherit, 2);
                                        height: $chr-list-header-height;
                                        width: 100%;
                                        padding: 1.25em 1.6em 0em;
                                        line-height: 1.65;
                                        border-bottom: 1px solid $chr-border-color;

  .title.dropdown                     { border-bottom: 1px dashed $chr-action-color;
                                        padding-bottom: .1em;
  }

  .search                             {
    a                                 { color: $chr-action-color;
                                        position: absolute;
                                        right: 1.5em;
      &:hover                         { color: $body-font-color;
      }
    }
    .fa-times                         { display: none;
    }
    input                             { display: none;
    }
    &.shown                           {
      .fa-search                      { display: none;
      }
      .fa-times                       { display: inline;
      }
      input                           { width: inherit;
                                        position: absolute;
                                        top: 1.25em;
                                        left: 1em;
                                        right: 1em;
                                        display: block;
      }
    }
  }
}