

$dropdown-color: $dropdown-button-pip-color-alt;

.chr-app-list-header                  { @include position(0, 0, 0, inherit, 2);
                                        height: $list-header-height;
                                        width: 100%;
                                        padding: 1.25em 1.6em 0em;
                                        line-height: 1.65;

  // dropdown triangle taken here:
  // https://github.com/zurb/foundation/blob/master/scss/foundation/components/_dropdown-buttons.scss
  .title.dropdown                     {
                                        margin-left: 1em;
                                        padding-bottom: .5em;
    &:before                          { position: absolute;
                                        content: "";
                                        width: 0;
                                        height: 0;
                                        display: block;
                                        border-style: solid;
                                        border-color: $dropdown-color transparent transparent transparent;
                                        top: 46%;
                                        border-width: 0.35em;
                                        opacity: .4;
    }
    &:hover                           {
      &:before                        { opacity: 1;
      }
    }
  }
}