

.chr-app-main                         {
  .left-panel                         { @include position(0, 0, inherit, 0, 2);
                                        width: 35%;
  }

  .right-panel                        { @include position(inherit, 0, 0, 0, 3);
                                        width: 65%;
                                        border-left: 1px solid $chr-border-color;
  }
}