

.chr-app-main                         {
  .left-panel                         { position: absolute;
                                        width: 35%;
                                        bottom: 0;
                                        top: 0;
                                        z-index: 2;
  }

  .right-panel                        { position: absolute;
                                        width: 65%;
                                        bottom: 0;
                                        top: 0;
                                        right: 0;
                                        z-index: 3;
  }

  .logo                               { border-left: 1px solid $chr-border-color;
                                        background-position: 50% 50%;
                                        background-repeat: no-repeat no-repeat;
  }
}