

$header-height: $list-item-height;
$border-color: #eee;

.chr-app-view-header                  { @include position(0, 0, 0, inherit);
                                        height: $header-height;
                                        border-bottom: 1px solid $border-color;
                                        padding: 1.5em 1.6em 0em;
  .title                              { font-size:1.2em;
  }
}

.chr-app-view-form                    { @include position(0, $header-height, 0, 0);
                                        @include scrollable;
                                        background-color: #fff;
}

.chr-app-view.edit                    {
  .chr-app-view-header                { padding-top: 1em;
    .title                            { font-size: .9em;
                                        font-weight: bold;
    }
    .meta                             { font-size: .8em;
                                        color: #777;
                                        line-height: 1.5;
    }
  }
  .chr-action-save .create            { display: none;
  }
}

.chr-app-view.new                     {
  .chr-app-view-header                {
    .chr-actions                      { display: none;
    }
  }
  .chr-action-save .save              { display: none;
  }
}