//= require normalize

$base_color:  #333332;
$base_font:   'Georgia';
$code_font:   'Monaco', 'Courier New', 'Courier', 'monospace';
$header_font: 'Myriad Pro', 'Verdana', 'sans-serif';

@import "default/_layout";

.pages-show,
.posts-show                           { @import "default/_typography";
}